// maps
$font-primary: "ubuntu", sans-serif;
$map-colors: (
  "blue": #090d68,
  "light-blue": #00eabd,
  "magenta": #ea005a,
);

$map-colors-keys: map-keys(
  $map: $map-colors,
);

// loop
@each $key in $map-colors-keys {
  .bg-#{$key} {
    background-color: map-get($map: $map-colors, $key: $key) !important;
  }
  .color-#{$key} {
    color: map-get($map: $map-colors, $key: $key) !important;
  }
}

//placeholder
%page-orbs {
  @extend %pseudo-element;
  @include square(584px);
  background-color: map-get($map: $map-colors, $key: "magenta");
  border-radius: 50%;
  filter: blur(300px);
  opacity: 0.2;
  position: absolute;
}

%pseudo-element {
  content: "";
  display: block;
}

//classes
.fs-display-lg {
  font-size: 35px;
  @include media(1200px) {
    font-size: 60px;
  }
}
.fs-display-md {
  font-size: 35px;
  @include media(1200px) {
    font-size: 45px;
  }
}
.fs-headline-lg {
  font-size: 20px;
  @include media(1200px) {
    font-size: 30px;
  }
}
.fs-title-lg {
  @include media(1200px) {
    font-size: 20px;
  }
  font-size: 18px;
}
.fs-title-md {
  font-size: 18px;
}

.bg-blur {
  background-image: linear-gradient(146.29deg, #fff3 50%, #fff1 97.77%);
  border-radius: 15px;
  border: solid 2px #fffa;
  border-bottom-color: #fff5;
  border-right-color: #fff5;
}

.cursor-pointer {
  cursor: pointer;
}

.light-orbs {
  position: relative;

  @extend %pseudo-element;
  &::after {
    @extend %page-orbs;
    left: 0;
    top: 50%;
    transform: translate(-39%, -50%);
  }
  &::before {
    @extend %page-orbs;
    right: 0;
    top: 0%;
    transform: translate(39%, -40%);
  }
}

.scroll-down-text {
  font-weight: 300;
  letter-spacing: 0.4em;
}
.scroll-down-button {
  @include media(1200px) {
    @include square(74px);
  }
  @include square(54px);
  align-items: center;
  border-radius: 100%;
  border: solid 2px #fff;
  cursor: pointer;
  display: flex !important;
  justify-content: center;
  margin: auto;
  & > img {
    display: block;
    max-width: 25px;
    transform: translateY(3px);
  }
}
