$font-primary: "ubuntu", sans-serif;
$map-colors: (
  "blue": #090d68,
  "magenta": #ea005a,
);

$map-colors-keys: map-keys(
  $map: $map-colors,
);

body {
  font-family: $font-primary;
}

@each $key in $map-colors-keys {
  .bg-#{$key} {
    background-color: map-get($map: $map-colors, $key: $key);
  }
  .color-#{$key} {
    color: map-get($map: $map-colors, $key: $key);
  }
}

.font-display-lg {
  font-size: 60px;
}
.font-display-md {
  font-size: 45px;
}
.fs-headline-lg {
  font-size: 30px;
}
.font-title-lg {
  font-size: 20px;
}
.font-title-md {
  font-size: 18px;
}

.cursor-pointer {
  cursor: pointer;
}
