.card {
  position: relative;
  border: 2px solid #090d68;
  border-radius: 20px;
  --bs-card-spacer-y: 1.2rem;
  --bs-card-spacer-x: 1rem;

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 16px;
    bottom: 0;
    background-color: white;
    background-image: url("../../public/assets/icons/mention-icon.svg");
  }
}

.card-feedback {
  h5,
  p {
    color: #090d68;
  }
  margin-left: 15px;
}
