@use "sass:map";

@import "../abstracts/variables";

$primary-color: map-get($map-colors, "magenta");
$secondary-color: map-get($map-colors, "light-blue");
$third-color: map-get($map-colors, "blue");

.rounded {
  border-radius: 37px !important;
}

.branding {
  background-color: map-get($map-colors, "blue");

  &::after {
    content: "";
    position: absolute;
    width: 427px;
    height: 427px;
    bottom: -100px;
    background: rgba(234, 0, 90, 0.25);
    filter: blur(100px);
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    width: 427px;
    height: 427px;
    right: 0;
    top: -120px;
    background: rgba(234, 0, 90, 0.25);
    filter: blur(40px);
  }
}

.brading-info {
  position: relative;
  max-width: 577px;

  z-index: 2;

  h1 {
    font-size: 60px;
    color: white;
    max-width: 466px;
  }

  p {
    color: white;
    font-size: 20px;
  }

  a {
    display: block;
    width: fit-content;
    border-color: white !important;
    color: white !important;
    text-decoration: none !important;
  }
}

.sorry-go-ahead {
  position: absolute;
  width: 177px;
  height: 110px;
  left: -25%;
  top: -10%;
  border-radius: 15px;
  z-index: 2;
  background: linear-gradient(
      0deg,
      rgba(9, 13, 104, 0.4),
      rgba(9, 13, 104, 0.4)
    ),
    url("./public/assets/gifs/empresas-2.gif");
  background-size: 177px 110px; /* <------ */
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.i-cant-hear-you {
  position: absolute;
  width: 292px;
  height: 180px;
  background: linear-gradient(
      0deg,
      rgba(9, 13, 104, 0.6),
      rgba(9, 13, 104, 0.6)
    ),
    url("./public/assets/gifs/empresas-3.gif");
  background-size: 292px 180px; /* <------ */
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -1;
  left: -45%;
  top: 60%;

  @media only screen and (max-width: 600px) {
    right: -170%;
  }
}

.people-gif {
  position: absolute;
  width: 187px;
  height: 113px;
  background: linear-gradient(
      0deg,
      rgba(9, 13, 104, 0.8),
      rgba(9, 13, 104, 0.8)
    ),
    url("./public/assets/gifs/empresas-4.gif");
  background-size: 187px 113px; /* <------ */
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: -1;
  right: 0;
  bottom: -11.4%;
}

.step-card {
  display: flex;
  width: 100%;
  max-width: 575px;
  justify-content: center;
  align-items: center;
  padding: 41px 35px;
  border-bottom: 1px solid #b8b8b8;
  cursor: pointer;

  img {
    padding: 15px;
    border: 2px solid $primary-color;
    border-radius: 15px;
    margin-right: 19px;
    width: 71px;
    height: 69px;
  }

  &.active {
    background-color: #f2f2f2;
    border-radius: 8px;
  }

  &:last-child {
    border-bottom: 0;
  }
}

#branding-section {
  overflow: hidden;
}

.rocket-section {
  text-align: center;
  color: white;
  max-width: 850px;

  p {
    font-size: 22px;

    strong {
      color: $secondary-color;
    }
  }

  a {
    text-decoration: none;
  }
}

#feedback-section {
  .feedback-content {
    .owl-carousel {
      padding-inline: 50px;
    }
    .owl-dots {
      width: calc(100% - 100px);

      .owl-dot {
        span {
          background-color: #090d68 !important;
        }

        &.active {
          span {
            background-color: #ea005a !important;
            border-radius: 40px !important;
            width: 16px !important;
          }
        }
      }
    }
    .owl-nav {
      .owl-next {
        background: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="19" stroke="%23EA005A" stroke-width="2"/><path d="M16.3442 28.6258C16.1238 28.3861 16 28.0611 16 27.7222C16 27.3833 16.1238 27.0583 16.3442 26.8186L22.1627 20.4923L16.3442 14.1659C16.13 13.9249 16.0116 13.602 16.0142 13.2669C16.0169 12.9318 16.1405 12.6113 16.3585 12.3743C16.5764 12.1374 16.8712 12.003 17.1794 12C17.4876 11.9971 17.7846 12.126 18.0063 12.3588L24.6558 19.5887C24.8762 19.8284 25 20.1534 25 20.4923C25 20.8312 24.8762 21.1562 24.6558 21.3959L18.0063 28.6258C17.7858 28.8654 17.4869 29 17.1752 29C16.8635 29 16.5646 28.8654 16.3442 28.6258V28.6258Z" fill="%23EA005A"/></svg>')
          no-repeat !important;
      }
      .owl-prev {
        background: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="19" stroke="%23EA005A" stroke-width="2"/><path d="M24.6176 12.3742C24.8625 12.6139 25 12.9389 25 13.2778C25 13.6167 24.8625 13.9417 24.6176 14.1814L18.1526 20.5077L24.6176 26.8341C24.8555 27.0751 24.9872 27.398 24.9842 27.7331C24.9812 28.0682 24.8438 28.3887 24.6017 28.6257C24.3595 28.8626 24.032 28.997 23.6895 29C23.3471 29.0029 23.0171 28.874 22.7708 28.6412L15.3824 21.4113C15.1375 21.1716 15 20.8466 15 20.5077C15 20.1688 15.1375 19.8438 15.3824 19.6041L22.7708 12.3742C23.0157 12.1346 23.3479 12 23.6942 12C24.0405 12 24.3727 12.1346 24.6176 12.3742Z" fill="%23EA005A"/></svg>')
          no-repeat !important;
      }
      button {
        width: 40px !important;
      }
    }
  }
}

.feedback-box {
  border: 2px solid #090d68;
  border-radius: 20px;
  display: flex;
  position: relative;
  padding: 18px;
  padding-bottom: 14px;
  gap: 15px;

  svg {
    position: absolute;
    bottom: -10px;
    left: -11px;
    background: white;
    padding: 8px 6px;
  }

  img {
    border-radius: 50%;
  }

  .feedback-description {
    color: #090d68;

    span {
      font-weight: bold;
      margin-bottom: 2px;
    }
  }
}

.methodology-image {
  max-height: 368px;
}

.methodology-heading,
.our-job-heading,
.feedback-heading {
  h1 {
    max-width: 677px;
    margin: 0 auto;
  }

  p {
    max-width: 719px;
    margin: auto;
    margin-top: 10px;
  }
}

#form-section {
  position: relative;
  background: url("./public/assets/images/bg-cam-people.png");

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    background: linear-gradient(90deg, #090d68 0%, #ea005a 100%);
    opacity: 0.65;
    z-index: 0;
  }
}

.toodoo-form {
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.13);
  border-radius: 20px;
  padding: 22px;
  max-width: 420px;

  label {
    display: block;
  }

  button {
    margin-bottom: 15px;
  }

  .form-check-label {
    color: #1d1d1d;
  }
}

.form-section-container {
  * {
    z-index: 1;
  }
}

#solution-section {
  a {
    display: block;
    width: fit-content;
    text-decoration: none !important;
    font-size: 18px;
  }
}

.solution-section-texts {
  max-width: 378px;

  h1 {
    font-size: 30px;
    font-weight: bold;
    color: $third-color;
  }

  strong {
    color: $primary-color;
  }
}

.form-section-texts {
  h1 {
    font-size: 60px;
  }

  h1,
  p {
    color: white;
  }

  strong {
    color: $primary-color;
  }
}
