@use "sass:map";

.border-inherit {
  border-color: inherit !important;
}

.toodoo-button {
  background-color: map-get($map-colors, "magenta");
  border-radius: 39px;
  border: none;
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;

  &.ghost {
    background-color: transparent;
    border: 2px solid;
    color: map-get($map-colors, "magenta");
  }
}
