@use "sass:map";

@import "../abstracts/variables";

.rounded {
  border-radius: 37px !important;
}

.branding {
  background-color: map-get($map-colors, "blue");

  &::after {
    content: "";
    position: absolute;
    width: 427px;
    height: 427px;
    bottom: -100px;
    background: rgba(234, 0, 90, 0.25);
    filter: blur(100px);
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    width: 427px;
    height: 427px;
    right: 0;
    top: -120px;
    background: rgba(234, 0, 90, 0.25);
    filter: blur(40px);
  }
}

.brading-info {
  position: relative;
  max-width: 577px;

  z-index: 2;

  h1 {
    font-size: 60px;
    color: white;
  }

  p {
    color: white;
    font-size: 20px;
  }

  button {
    border-color: white !important;
    color: white !important;
  }
}

.our-job {
}
